# Salary Prediction Ultimatum - Assignment 02

You should complete this Jupyter Notebook with your answers. You may need to write code or add explanatory notes.

dataset link: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset/data

In [4]:
# Importing packages and install kaggle package for downloading dataset
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import zipfile

# Install Kaggle
%pip install kaggle

# Create a folder to store the dataset
folder_name = 'hrdata'
os.makedirs(folder_name, exist_ok=True)

# Download dataset from Kaggle
!kaggle datasets download -d pavansubhasht/ibm-hr-analytics-attrition-dataset -p {folder_name}

# Unzip the dataset into the folder
zip_path = f"{folder_name}/ibm-hr-analytics-attrition-dataset.zip"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(folder_name)

Requirement already satisfied: kaggle in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (1.26.18)
Requirement already satisfied: bleach in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/adelahmadi/Documents/Anaconda/anaconda3/lib/python3.11/site-packages (from requests->kaggle) (3.4)
Note: you may need to restart the kernel to use updated packages.
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
Dataset URL: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset
License(s): DbCL-1.0
ibm-hr-analytics-attrition-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [5]:
# Load and print head of the dataset
df = pd.read_csv(f"./{folder_name}/WA_Fn-UseC_-HR-Employee-Attrition.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Background
Mr. Bayes, is a data scientist at a high-tech Silicon Valley company. Due to economic instability, your notoriously impatient manager, Mr. Grumbleworth, has tasked him with building a salary prediction model to ensure no employee is overpaid.

"I donâ€™t want to pay a dollar more than necessary. Justify every decisionâ€”or youâ€™re fired!" Mr. Grumbleworth said.

You must help Mr, Bayes analyze the IBM HR Analytics dataset and deliver a Jupyter Notebook with your findings.

## Task 1: Exploratory Data Analysis (EDA)
Mr. Grumbleworth hates raw numbers. Generate 3 plots to answer:
1. How does salary vary by department? 
2. Is education level correlated with salary? 
3. Do employees earn more the longer they stay?

In [8]:
# Write your answer here:

## Task 2: Feature Selection
Mr. Grumbleworth demands proof that youâ€™re using only relevant features.
Identify 3 features most correlated with monthly income. Use one feature selection method (e.g., Recursive Feature Elimination, Correlation Thresholding) and justify your choice in a few sentences.

In [7]:
# Write your answer here:

## Task3: Model Selection & Evaluation
Mr. Grumbleworth demands you test 3 models to ensure the salary predictions are accurate and cost-savingâ€”heâ€™ll tolerate no excuses for overpaying employees. (e.g., Compare Linear Regression, Logistic Regression, Decision Tree, Random Forest, etc... then defend your final choice with hard metrics.)

In [9]:
# Write your answer here:

## Task 4: Explainability
Mr. Grumbleworth wants to cut costs by manipulating key factors.
Use feature importance (e.g., Linear Regressionâ€™s Coefficients, Decision Tree's Feature Importance) and list the top 3 features driving monthly salary.
Suggest one action to reduce salaries (e.g., "Limit promotions (JobLevel).").

In [11]:
# Write your answer here: